.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: var( --secondary);
    height: 440px;
}

.banner-contents {
    margin-left: 30px;
    padding-top: 190px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-description {
    font-weight: 500;
}

.banner-btn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner-btn button {
    width: 90px;
    height: 30px;
    background-color: rgba(77, 77, 77, 0.5);
    color: var(--secondary);
    border-radius: 2px;
    border: 1px solid transparent;
    font-weight: 800;
}

.banner-btn button:hover {
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
}

.banner-description {
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
}

/* row */
.row {
    color: var( --secondary);
}

.row h2 {
    color: var( --secondary);
    margin-left: 25px;
    margin-top: 20px;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster {
    width: 100%;
    object-fit: contain;
    max-height: 180px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-poster-large {
    max-height: 300px;
}

.row-poster:hover {
    transform: scale(1.1);
}

.footer {
    color: gray;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
}
